<div class="row mb-3">
    <div class="col-lg-2 col-sm-10 mx-auto c">
        <a class="btn btn-success btn-sm mb-3" href="{{ url_for('crearVenta') }}">Crear Venta</a>
    </div>

    <div class="col-lg-2 col-sm-10 mx-auto c">
        <a class="btn btn-success btn-sm mb-3" href="{{ url_for('filtrar', filter='Novaventa') }}">Filtrar Novaventa</a>
    </div>

    <div class="col-lg-2 col-sm-10 mx-auto c">
        <a class="btn btn-success btn-sm mb-3" href="{{ url_for('filtrar', filter='Leoniza') }}">Filtrar Leoniza</a>
    </div>

    <div class="col-lg-2 col-sm-10 mx-auto c">
        <a class="btn btn-success btn-sm mb-3" href="{{ url_for('filtrar', filter='Moda_Int') }}">Filtrar Moda Int</a>
    </div>

    <div class="col-lg-2 col-sm-10 mx-auto c">
        <a class="btn btn-success btn-sm mb-3" href="{{ url_for('filtrar', filter='Inventario') }}">Filtrar Inventario</a>
    </div>

    <div class="col-lg-2 col-sm-10 mx-auto c">
        <a class="btn btn-success btn-sm mb-3" href="{{ url_for('historia_ventas') }}">Todas las Ventas</a>
    </div>
</div>