<div class="spinner c">
    <div class="col-5 row mx-auto ">
        <div class="spinner-grow text-success mx-auto" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-border text-warning mx-auto" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-border text-warning mx-auto" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-border text-warning mx-auto" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-success mx-auto" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    
    <h1>Loading</h1>
    <h4>Please whait, this may take some time</h4>
</div>