{% extends 'layout_dt.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<div class="col-12 mx-auto p-4 mb-5">
    <div class="row">

        <div class="col-2 mx-auto mt-5">
            {% include 'partials/side_navbar.html' %}
        </div>

        <!-- *************** -->

        <div class="col-10 mx-auto mt-3">
            <div class="col-lg-6 col-sm-10 mx-auto c">
                <a class="btn btn-primary btn-sm mb-3" href="{{ url_for('all_productos') }}"><h1>Productos</h1></a>
            </div>

            {% include 'partials/navbarProducts.html' %}

            <div class="table-responsive p-4 backs">
                <table id="codeCiiu" class="table table-success table-striped table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">CL</th>
                            <th scope="col">DESCRIPCION</th>
                            <th scope="col">PRECIO DE VENTA</th>
                            <th scope="col">REVISTA</th>
                            <th scope="col">CAMPANNA</th>
                            <th scope="col">Show</th>
                            <th scope="col">Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                        <tr>
                            <td>{{ producto['ID'] }}</td>
                            <td>{{ producto['CL'] }}</td>
                            <td>{{ producto['DESCRIPCION'] }}</td>
                            {% if producto['P_VENTA'] %}
                                <td>{{ "{:,}".format(producto['P_VENTA']) }}</td>
                            {% else %}
                                <td>0</td>
                            {% endif %}
                            <td>{{ producto['REVISTA'] }}</td>
                            <td>{{ producto['CAMPANNA'] }}</td>
                            <td><a class="btn btn-outline-success btn-sm" href="{{ url_for('mostrarProducto', id=producto['ID']) }}" aria-disabled="true">Mostrar</a></td>
                            <td><a class="btn btn-outline-primary btn-sm" href="{{ url_for('modificarProducto', id=producto['ID']) }}" aria-disabled="true">Modificar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/dataTable.js') }}"></script>

{% endblock %}
