{% extends 'layout_dt.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<div class="col-11 mx-auto mt-4 mb-5">
    <div class="row">

        <div class="col-2 mx-auto mt-5">
            {% include 'partials/side_navbar.html' %}
        </div>

        <!-- *************** -->

        <div class="col-10 mx-auto">
            <div class="col-9 mx-auto mb-4">
                <h1 class="c">Cartera</h1>
            </div>

            <div class="table-responsive p-4 backs">
                <table id="codeCiiu" class="table table-success table-striped table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Revista</th>
                            <th scope="col">Cant</th>
                            <th scope="col">Venta</th>
                            <th scope="col">Abono</th>
                            <th scope="col">FECHA</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cartera %}
                            <tr>
                                <td>{{ item['id'] }}</td>
                                <td>{{ item['descripcion'] }}</td>
                                <td>{{ item['revista'] }}</td>
                                <td>{{ item['qty'] }}</td>
                                
                                {% if item['Vtotal'] %}
                                    <td>{{ "{:,}".format(item['Vtotal']) }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}

                                {% if item['Atotal'] %}
                                    <td>{{ "{:,}".format(item['Atotal']) }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{ item['fecha'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><h5>TOTALES</h5></td>
                            <td></td>
                            {% if totVentas %}
                                <td>{{ "{:,}".format(totVentas) }}</td>
                            {% else %}
                                <td>0</td>
                            {% endif %}

                            {% if totAbonos %}
                                <td>{{ "{:,}".format(totAbonos) }}</td>
                            {% else %}
                                <td>0</td>
                            {% endif %}

                            {% if totVentas != 0 %}
                                <td><h5>{{ "{:,}".format(totVentas - totAbonos) }}</h5></td>
                            {% else %}
                                <td><h5>0</h5></td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>

<script src="{{ url_for('static', filename='js/dataTable.js') }}"></script>

{% endblock %}
