
<H3>Hola.. {{ first_name }} {{ last_name }}.</H3>
<p>Regional {{ regional }}.</p>
<p>Centro {{ centro }}.</p>
<p>Coordinación {{ coordinacion }}.</p>

<br> 
<p>El presente correo es para solicitar que en los siguientes 15 dias a partir de {{ fecha_listas }}, 
    Tenga la bondad de subir las listas de Instructores y Aprendices para que los Aprendices puedan 
    evaluar a los instructores de su Coordinación.</p>
<strong>Este es el HASH que le permite acceder a la plataforma.</strong>
<h3 style='color:red'> {{ hash }} </h3>

<p>Para tramitar el suministro de los listados en la seccion de "Coordinadores" encontrara el link para
    descargar los formatos requeridos para subir las listas tanto de los Aprendices como de los Instructores</p>

<strong>Este es el link para acceder a la aplicacion en cuestion:</strong>
<h3 style='color:blue'> http://localhost:8000/loadings </h3>

<p>Agradecemos su pronta diligencia

    