{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<div class="col-11 mx-auto mt-4 mb-5">
    <div class="row">
        
        <div class="col-2 mx-auto mt-5">
            {% include 'partials/side_navbar.html' %}
        </div>

        <!-- *************** -->

        <div class="col-10 mx-auto mt-3">

            <div class="row">
                <div class="col-lg-9 mx-auto">
                    <div class="col-lg-6 col-sm-10 mb-5 mx-auto c">
                        <h1>Registros</h1>
                    </div>
                    <h4 class="mb-4 c">Recibos Guardados</h4>
                    {% if catalogList %}
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            {% for cat in catalogList %}
                                <div class="col">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <h6 class="card-title c">{{ cat }}</h6>
                                            <div class="col-lg-7 mx-auto m-3">
                                                <div class="d-grid gap-2 mb-2">
                                                    <a class="btn btn-warning" href="{{ url_for('download', filename=cat) }}">Descargar</a>
                                                </div>

                                                <div class="d-grid gap-2">
                                                    <a class="btn btn-danger" href="{{ url_for('delete_recibo', file=cat) }}">Eliminar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="col-lg-3 mx-auto ">
                    <div class="col-lg-9 mx-auto mb-5">
                        <h4 class="mb-4 c">Generar Recibos</h4>
                        {% for camp in campa %}
                        <form action="/cobrosXlsx" method="POST">
                            <input hidden type="text" name="data1" value="{{ camp.revista }}" placeholder="{{ camp.revista }}">
                            <input hidden type="text" name="data2" value="{{ camp.campana }}" placeholder="{{ camp.campana }}">
                            <div class="d-grid gap-2 mb-4">
                                <button class="btn btn-success" type="submit" name="submit_button" value="Submit">{{ camp.revista }} {{ camp.campana }}</button>
                            </div>
                        </form>
                        {% endfor %}
                        <hr>
                    </div>
                    <hr>
                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}
