{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<div class="col-11 mx-auto mt-4 mb-5">
    <div class="row">
        
        {% include 'partials/side_navbar.html' %}

        <!-- *************** -->

        <div class="col-9 mx-auto mt-3 ">
                    
            <div class="col-lg-9 col-sm-12 mx-auto mb-5 c">
                <h1>{{ cliente['NOMBRE'] }}</h1>
            </div>

            <div class="col-11 mx-auto">
                <div class="col-10 row mx-auto c">
                    <div class="col-5 row mx-auto">
                        <div class="col-5 mb-3">
                            <a class="btn btn-success btm-sm" href="{{ url_for('modificarVenta', id=venta['id']) }}" aria-disabled="true"><h5 id="venta">Modificar</h5></a>
                        </div>
                        <div class="col-5 mb-3">
                            <a class="btn btn-danger btm-sm" href="" aria-disabled="true"><h5 id="delete">Eliminar</h5></a>
                        </div>
                    </div>
                    <div class="col-6 mx-auto">
                        <div class="mb-3">
                            <label for="clientId" class="form-label">Cliente</label>
                            <h5 id="clientId">{{ cliente['NOMBRE'] }}</h5>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="col-10 row mx-auto c">
                    <div class="col-3 mx-auto">
                        <div class="mb-3">
                            <label for="clientId" class="form-label">Codigo del Producto</label>
                            <h5 id="clientId">{{ venta['CL_PRODUCTO'] }}</h5>
                        </div>
                    </div>
                    <div class="col-6 mx-auto">
                        <div class="mb-3">
                            <label for="clientId" class="form-label">Producto</label>
                            <h5 id="clientId">{{ venta['DESCRIPCION_PRODUCTO'] }}</h5>
                        </div>
                    </div>
                    <div class="col-3 mx-auto">
                        <div class="mb-3">
                            <label for="clientId" class="form-label">Revista/Campaña</label>
                            <h5 id="clientId">{{ venta['REVISTA_PRODUCTO'] }} / {{ venta['CAMPANNA_PRODUCTO'] }}</h5>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="col-10 row mx-auto c">
                    {% if venta['P_CATALOGO_PRODUCTO'] %}
                        <div class="col-3 mx-auto">
                            <div class="mb-3">
                                <label for="clientId" class="form-label">Precio Lista</label>
                                <h5 id="clientId">{{ "{:,}".format(venta['P_CATALOGO_PRODUCTO']) }}</h5>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-3 mx-auto">
                            <div class="mb-3">
                                <label for="clientId" class="form-label">Precio Lista</label>
                                <h5 id="clientId">0</h5>
                            </div>
                        </div>
                    {% endif %}
                    
                    <div class="col-4 mx-auto">
                        <div class="mb-3">
                            <label for="clientId" class="form-label">Cantidad</label>
                            <h5 id="clientId">{{ venta['CANTIDAD'] }}</h5>
                        </div>
                    </div>
                    {% if total %}
                        <div class="col-4 mx-auto">
                            <div class="mb-3">
                                <label for="clientId" class="form-label">Precio Lista</label>
                                <h5 id="clientId">{{ "{:,}".format(total) }}</h5>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-4 mx-auto">
                            <div class="mb-3">
                                <label for="clientId" class="form-label">Precio Lista</label>
                                <h5 id="clientId">0</h5>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <hr>

                <div class="col-10 row mx-auto c">
                    {% if venta['P_LISTA_PRODUCTO'] %}
                        <div class="col-4 mx-auto">
                            <div class="mb-3">
                                <label for="clientId" class="form-label">Precio Lista</label>
                                <h5 id="clientId">{{ "{:,}".format(venta['P_LISTA_PRODUCTO']) }}</h5>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-4 mx-auto">
                            <div class="mb-3">
                                <label for="clientId" class="form-label">Precio Lista</label>
                                <h5 id="clientId">0</h5>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-4 mx-auto">
                        <div class="mb-3">
                            <label for="clientId" class="form-label">Fecha creación</label>
                            <h5 id="clientId">{{ venta['FECHA'] }}</h5>
                        </div>
                    </div>
                    <div class="col-4 mx-auto">
                        <div class="mb-3">
                            <label for="clienteImpreso" class="form-label">Impreso</label>
                            <h5 id="clienteImpreso">{{ venta['IMPRENTA'] }}</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-5 mx-auto mt-4 c">
                <div class="d-grid gap-2">
                    <button class="btn btn-warning" onclick="goBack()">Regresar</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function goBack() {window.history.back();}
</script>

{% endblock %}
