{% extends 'layout.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<div class="col-11 mx-auto mt-4 mb-5">
    <div class="row">
        
        <div class="col-2 mx-auto mt-5">
            {% include 'partials/side_navbar.html' %}
            {% include 'partials/navbarVentas.html' %}
        </div>

        <!-- *************** -->

        <div class="col-9 mx-auto mt-3 ">
                    
            <div class="col-lg-9 col-sm-12 mx-auto mb-5 c">
                <h1>{{ cliente['NOMBRE'] }}</h1>
            </div>

            <div class="col-11 mx-auto">
                <div class="col-10 row mx-auto c">
                    <div class="col-5 row mx-auto">
                        <div class="col-5 mb-3">
                            <a class="btn btn-success btm-sm" href="{{ url_for('modificarVenta', id=venta['id']) }}" aria-disabled="true"><h5 id="venta">Modificar</h5></a>
                        </div>
                        <div class="col-5 mb-3">
                            <a class="btn btn-danger btm-sm" href="{{ url_for('askDeleteVenta', id=venta['id']) }}" aria-disabled="true"><h5 id="delete">Eliminar</h5></a>
                        </div>
                    </div>
                    <div class="col-6 mx-auto">
                        <div class="mb-3">
                            <label for="codigo" class="form-label">Codigo del Producto</label>
                            <h5 id="codigo">{{ venta['CL_PRODUCTO'] }}</h5>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="col-10 row mx-auto c">
                    <div class="col-6 mx-auto">
                        <div class="mb-3">
                            <label for="producto" class="form-label">Producto</label>
                            <h5 id="producto">{{ venta['DESCRIPCION_PRODUCTO'] }}</h5>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="col-10 row mx-auto c">
                    <div class="col-6 mx-auto">
                        <div class="mb-3">
                            <label for="revista" class="form-label">Revista</label>
                            <h5 id="revista">{{ venta['REVISTA'] }}</h5>
                        </div>
                    </div>
                    <div class="col-6 mx-auto">
                        <div class="mb-3">
                            <label for="campa" class="form-label">Campaña</label>
                            <h5 id="campa">{{ venta['CAMPANNA'] }}</h5>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="col-10 row mx-auto c">
                    {% if venta['P_COSTO'] %}
                        <div class="col-3 mx-auto">
                            <div class="mb-3">
                                <label for="clientId" class="form-label">Precio Costo</label>
                                {% if venta['P_COSTO'] %}
                                    <td>{{ "{:,}".format(venta['P_COSTO']) }}</td>
                                {% else %}
                                    <td>0</td>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="col-3 mx-auto">
                            <div class="mb-3">
                                <label for="clientId" class="form-label">Precio Costo</label>
                                <h5 id="clientId">0</h5>
                            </div>
                        </div>
                    {% endif %}

                    {% if venta['P_VENTA'] %}
                        <div class="col-3 mx-auto">
                            <div class="mb-3">
                                <label for="clientId" class="form-label">Precio Venta</label>
                                <h5 id="clientId">{{ "{:,}".format(venta['P_VENTA']) }}</h5>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-3 mx-auto">
                            <div class="mb-3">
                                <label for="clientId" class="form-label">Precio Venta</label>
                                <h5 id="clientId">0</h5>
                            </div>
                        </div>
                    {% endif %}
                    
                    <div class="col-3 mx-auto">
                        <div class="mb-3">
                            <label for="clientId" class="form-label">Cantidad</label>
                            <h5 id="clientId">{{ venta['CANTIDAD'] }}</h5>
                        </div>
                    </div>

                    {% if total %}
                        <div class="col-3 mx-auto">
                            <div class="mb-3">
                                <label for="clientId" class="form-label">Total</label>
                                <h5 id="clientId">{{ "{:,}".format(total) }}</h5>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-3 mx-auto">
                            <div class="mb-3">
                                <label for="clientId" class="form-label">Total</label>
                                <h5 id="clientId">0</h5>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <hr>

                <div class="col-10 row mx-auto c">
                    <div class="col-4 mx-auto">
                        <div class="mb-3">
                            <label for="clientId" class="form-label">Fecha de Venta</label>
                            <h5 id="clientId">{{ venta['FECHA'] }}</h5>
                        </div>
                    </div>
                    
                    <div class="col-4 mx-auto">
                        <div class="mb-3">
                            <label for="clienteImpreso" class="form-label">Reportado?</label>
                            <h5 id="clienteImpreso">{{ venta['IMPRENTA'] }}</h5>
                        </div>
                    </div>

                    {% if venta['IMPRENTA'] == "SI" %}
                        <div class="col-4 mx-auto">
                            <div class="mb-3">
                                <label for="clientId" class="form-label">Fecha del Reporte</label>
                                <h5 id="clientId">{{ venta['FECHA_IMPRENTA'] }}</h5>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-5 mx-auto mt-4 c">
                <div class="d-grid gap-2">
                    <button class="btn btn-warning" onclick="goBack()">Regresar</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function goBack() {window.history.back();}
</script>

{% endblock %}
