{% extends 'layout_dt.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}

<div class="col-12 mx-auto p-4 mb-5">
    <div class="row">
        
        <div class="col-2 mx-auto mt-5">
            {% include 'partials/side_navbar.html' %}
        </div>

        <!-- *************** -->

        <div class="col-10 mx-auto mt-3">
                    
            <div class="row mb-3">
                <div class="col-lg-6 col-sm-10 mx-auto c">
                    <h1>Clientes</h1>
                </div>

                <div class="col-lg-6 col-sm-10 mx-auto c">
                    <a class="btn btn-success mb-3" href="{{ url_for('crearCliente') }}">Crear Cliente</a>
                </div>
            </div>

            <div class="table-responsive p-4 backs">
                <table id="codeCiiu" class="table table-success table-striped table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">_Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Cliente De</th>
                            <th scope="col">Compra</th>
                            <th scope="col">Deuda</th>
                            <th scope="col">Show</th>
                            <th scope="col">Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                        <tr>
                            <td>{{ cliente['ID'] }}</td>
                            <td>{{ cliente['NOMBRE'] }}</td>
                            <td>{{ cliente['DIRECCION'] }}</td>
                            <td>{{ cliente['TELEFONO'] }}</td>
                            <td>{{ cliente['CLIENTE_DE'] }}</td>
                            <td>{{ cliente['COMPRA'] }}</td>
                            {% if cliente['DEUDA'] %}
                                <td>{{ "{:,}".format(cliente['DEUDA']) }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td><a class="btn btn-outline-success btn-sm" href="{{ url_for('mostrarCliente', id=cliente['ID']) }}" aria-disabled="true">Mostrar</a></td>
                            <td><a class="btn btn-outline-primary btn-sm" href="{{ url_for('modificarCliente', id=cliente['ID']) }}" aria-disabled="true">Modificar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

<script src="{{ url_for('static', filename='js/dataTable.js') }}"></script>

{% endblock %}
